* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.2s linear;
}

body.dark {
  background-color: #292c35;
  color: #fff;
}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #111;
  width: 50px;
  height: 26px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
  z-index: 1;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}

.container {
  background: var(--container-background, #fff);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
  margin-top: 10px;
}

body.dark .container {
  background: #333;
}

h1 {
  margin-bottom: 20px;
}

.input-section {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

#task-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  background-color: var(--input-background, #fff);
  border: 1px solid var(--input-border, #ccc);
  border-radius: 5px;
  color: var(--text-color, #000);
  width: 95%;
}

body.dark #task-input {
  background-color: #444;
  border-color: #555;
  color: #e0e0e0;
}

#add-task-button {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: var(--button-background, #28a745);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

#add-task-button:hover {
  background-color: var(--button-hover-background, #218838);
}

#task-list {
  list-style: none;
  padding: 0;
}

.task {
  padding: 10px;
  border-bottom: 1px solid var(--task-border, #ccc);
  display: flex;
  justify-content: space-between;
}

body.dark .task {
  color: #e0e0e0;
  background-color: #444;
  border-color: #555;
}

.complete {
  text-decoration: line-through;
  color: #999;
}

.delete-button {
  background-color: var(--delete-button-background, #dc3545);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: var(--delete-button-hover, #c82333);
}
